#mindmap {
  position: relative;
  background-color: #5555cc;
}

.js-mindmap-active a.node {
    background:#000055;
    border: 2px solid white;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}
.js-mindmap-active a.node.active {
    padding:5px 10px !important;
    border-width:5px !important;
}
.js-mindmap-active a.node.activeparent {
    padding:5px 10px !important;
    border-width:5px !important;
    background:#000099;
    font-size:bold;
    font-weight: 21px;
}
